.modal {
  position: relative;
  background: rgb(239, 236, 236);

  max-width: 90vw;
  max-height: 90vh;
  margin: auto;
  border-radius: 8px;
  overflow: auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
